<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Guriri</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <header>
        <div class="logo">APP GURIRI</div>
        <button class="menu-btn">☰</button>
    </header>
    
    <nav class="menu">
        <a href="#">Início</a>
        <a href="#">Produtos</a>
        <a href="#">Serviços</a>
        <a href="#">Contato</a>
    </nav>
    
    <main>
        <section class="banner">
            <h1>Bem-vindo a Ilha de Guriri</h1>
            <p>Lugar onde se pode encontrar paz e lazer</p>
        </section>
        
        <section class="destaques">
                <section class="mapa">
                    <h2>Localização da Praia de Guriri</h2>
                    <p>Explore os arredores e veja onde encontrar paz e lazer!</p>
                    <div class="mapa-container">
                      <iframe 
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30225.19886991722!2d-39.7822007456331!3d-18.746842073005926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xca13a4c6587b43%3A0x6d4e85606613178f!2sGuriri%2C%20S%C3%A3o%20Mateus%20-%20ES!5e0!3m2!1spt-BR!2sbr!4v1744392249230!5m2!1spt-BR!2sbr" 
                        allowfullscreen="" 
                        loading="lazy" 
                        referrerpolicy="no-referrer-when-downgrade">
                      </iframe>
                    </div>
                  </section>
                  
            </section>
        </section>
    </main>

    <script>
        document.querySelector('.menu-btn').addEventListener('click', function() {
        document.querySelector('.menu').classList.toggle('active');
        });
    </script>
</body>
</html>